<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="fl32_loginas_init_customers" xsi:type="object">\Flancer32\LoginAs\Cli\Cmd\Init\Customers</item>
            </argument>
        </arguments>
    </type>


    <!-- ******************** -->
    <!-- Plugins/Interceptors -->
    <!-- ******************** -->
    <type name="\Magento\Customer\Ui\Component\Listing\Column\Actions">
        <!-- Add 'Login As' action to customers grid -->
        <plugin name="fl32_loginas_plugin"
                type="\Flancer32\LoginAs\Plugin\Customer\Ui\Component\Listing\Column\Actions"
                sortOrder="512" disabled="false"/>
    </type>
    <type name="\Magento\Sales\Ui\Component\Listing\Column\ViewAction">
        <!-- Add 'Login As' action to sales orders grid -->
        <plugin name="fl32_loginas_plugin"
                type="\Flancer32\LoginAs\Plugin\Sales\Ui\Component\Listing\Column\ViewAction"
                sortOrder="512" disabled="false"/>
    </type>


    <!-- ************ -->
    <!-- Repositories -->
    <!-- ************ -->
    <preference
            for="\Flancer32\LoginAs\Repo\Entity\IActive"
            type="\Flancer32\LoginAs\Repo\Entity\Active"/>

    <preference
            for="\Flancer32\LoginAs\Repo\Entity\ILog"
            type="\Flancer32\LoginAs\Repo\Entity\Log"/>


</config>
