<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Flancer32_LoginAs" setup_version="0.1.0">
        <!-- Setup dependencies hierarchy -->
        <!--<sequence>-->
        <!--<module name="Vendor_Module"/>-->
        <!--</sequence>-->
    </module>
</config>